body {
	background-color: #1b2330;
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}
.navbar {
	display: flex;
	font-size: 0.9rem;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1rem;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin-bottom: 1.5rem;
}
.navbar img {
	width: 25%;
}
.nav-list {
	margin-right: 0.8rem;
}
.nav-list-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 1.5rem;
}
.nav-list-items li:hover {
	cursor: pointer;
	text-decoration: underline;
}
.intro {
	width: 100%;
	position: relative;
	overflow: visible;
}
.intro img {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2rem;
}
.separator {
	width: 100%;
	padding-bottom: 30px;
	margin: 0 auto -20px;
	background-image: url("../src/assets/bg-curvy-mobile.svg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 100px;
	position: relative;
	overflow: visible;
}

.intro h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 1.5rem;
	width: 80%;
	margin: -3.5rem auto 1rem;
	position: relative;
	z-index: 1;
}

.intro .details {
	background-image: linear-gradient(
		#1b2330 0%,
		#1b2330 15%,
		#181e2a 15%,
		#181e2a 100%
	);
}
.intro p {
	width: 85%;
	text-align: center;
	margin: 0 auto;
	font-size: 1rem;
	font-weight: 400;
	color: #eaeef6;
	opacity: 0.9;
}
.intro button {
	background: linear-gradient(to right, #50c8d6 0%, #3daecf 100%);
	margin: 2rem auto 0;
	display: block;
	border-radius: 30px;
	padding: 0.7rem;
	width: 65%;
	font-weight: 700;
	font-family: "Raleway", sans-serif;
}
.intro button:hover {
	background-color: #60dfdb;
}
.features {
	background-color: #181e2a;
	padding: 6%;
}
.features-icon {
	padding: 2rem 0;
}
.features img {
	display: block;
	margin: 2rem auto;
}
.features h3 {
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-weight: 700;
	font-size: 1.2rem;
}
.features p {
	text-align: center;
	font-weight: 400;
	font-size: 0.95rem;
	width: 100%;
	opacity: 0.9;
}
.productive p {
	text-align: left;
	width: 100%;
	margin: 1rem auto;
	font-size: 0.95rem;
}
.productive a {
	display: inline-block;
	padding-bottom: 0.2rem;
	color: #30b1ad;
	border-bottom: 2px solid #30b1ad;
	border-radius: 1px;
	margin-bottom: 2.5rem;
}
.productive a:hover {
	color: white;
	border-bottom: 2px solid white;
}
.fa-solid {
	text-shadow: 0px 0px 2px #60dfdb;
}
.teams {
	display: flex;
	flex-direction: column;
	padding: 7%;
	background-color: #181e2a;
	font-size: 0.75rem;
	height: 800px;
}
.teams i {
	margin: 0 1rem;
	padding: 0;
	font-size: 24px;
	color: #60dfdb;
}
.team-player {
	/*background-color: #21293c;*/
	background-color: hsl(219, 30%, 18%);
	margin: 0rem auto 2rem;
	padding: 8%;
	text-align: left;
	border-radius: 0.4rem;
	box-shadow: 0px 0px 4px #1b222d;
}
.team-player p {
	margin-bottom: 1rem;
	color: #eaeef6;
	opacity: 0.9;
}
.players {
	display: flex;
	flex-direction: row;
}
.players-image {
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.1rem;
}
.players-details h3 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 0.95rem;
	letter-spacing: 2px;
}
.players-details p {
	margin-bottom: 0;
}
.players img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.signup {
	/*background-color: #181e2a;*/
	background: linear-gradient(
		#181e2a 0%,
		#181e2a 45%,
		#0c1524 45%,
		#0c1524 100%
	);
	height: 400px;
	
}
.signup-contents {
	background-color: #1c2230;
	width: 90%;
	margin: 0rem auto 2rem;
	padding: 5%;
	text-align: center;
	font-size: 1rem;
	border-radius: 0.4rem;
	box-shadow: 2px 2px 5px #131923;
}
.signup h3 {
	width: 100%;
	color: #ff0000;
	font-size: 0.8rem;
}
.signup h1 {
	font-family: "Raleway", sans-serif;
	text-align: center;
	margin: 1rem 0;
	font-weight: 700;
	font-size: 1.2rem;
}
.signup p {
	font-size: 0.95rem;
	color: #eaeef6;
	opacity: 0.9;
}
.signup input {
	margin: 2rem auto;
	display: block;
	border-radius: 30px;
	padding: 1rem 1.5rem;
	width: 95%;
	font-size: 0.7rem;
	color: black;
}
.signup button {
	background: linear-gradient(to right, #50c8d6 0%, #3daecf 100%);
	margin: 1rem auto 1rem;
	display: block;
	border-radius: 30px;
	padding: 0.8rem;
	width: 95%;
	font-weight: 700;
}
.signup button:hover {
	background-color: #60dfdb;
}

.footer {
	background-color: #0c1524;
	color: #eaeef6;
	
}
.footer img {
	padding: 5% 10%;
}
.footer-elements {
	display: flex;
	justify-content: left;
	padding: 0% 5% 1rem;
}
.footer-elements a,
.footer-elements-items a {
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	padding: 5px 0px 0px;
}
.footer-elements p {
	font-size: 1.1rem;
}
.footer-elements-items {
	display: flex;
	flex-direction: row;
	padding: 0% 5% 1rem;
	justify-content: left;
}
.footer-list {
	display: flex;
	margin-top: 2rem;
	padding: 5%;
	flex-direction: column;
}
.footer-list a {
	padding: 0.5rem 0;
}
.footer-list a:hover {
	font-weight: 600;
}
.spacing {
	margin: 1rem 0;
}
.social-icons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 2rem 0;
}

.social-icons i {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.social-icons i:hover {
	color: #43b5d0;
	border: 2px solid #43b5d0;
}

.fa-brands {
	font-family: "Font Awesome 5 Brands";
}
@media only screen and (max-width: 375px) {
	.nav-list-items {
		gap: 0.5rem;
	}
	#emailError {
		color: red;
	}
}
@media only screen and (min-width: 425px) {
	.nav-list-items {
		gap: 1.5rem;
	}
}
@media only screen and (min-width: 1023px) {
	.navbar {
		padding: 4rem;
		font-size: 1rem;
	}
	.navbar img {
		width: auto;
	}
	.nav-list-items {
		gap: 4rem;
	}
	.intro {
		background-image: url("./assets/bg-curvy-desktop.svg");
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 100% 35%;
		overflow: visible;
		margin: 0 auto;
		min-height: 700px;
	}
	.intro img {
		width: 50%;
	}
	.intro h1 {
		margin-top: -3rem;
	}
	.intro h1,
	.intro p {
		max-width: 30rem;
	}
	.intro button {
		width: 22%;
		padding: 0.5rem;
	}
	.separator {
		background-image: none;
		padding: 0;
		margin: 0;
	}
	.intro .details {
		background: none;
	}
	.separator img {
		padding-bottom: 2rem;
		margin-bottom: 3rem;
	}
	.features {
		padding-top: 0;
	}
	.features-container {
		/*background-image: url("../src/assets/bg-curvy-desktop.svg");*/
		background: none;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 4rem;
		margin: 0 auto;
	}
	.features-icon {
		max-width: 24rem;
	}
	.features-icon img {
		height: 80px;
	}
	.productive {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}
	.productive-image {
		width: 50%;
	}
	.productive-text {
		width: 50%;
		align-items: center;
	}
	.productive a {
		font-size: 0.75rem;
	}

	.productive p {
		font-size: 0.8rem;
		opacity: 0.9;
	}
	.productive h3 {
		font-size: 1.7rem;
		text-align: left;
		width: 60%;
	}
	.teams-profile {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2.8rem;
	}
	.team-player {
		padding: 2rem 1rem 1rem;
		margin-bottom: 0;
	}
	.teams i {
		margin: 0;
	}
	.teams {
		height: auto;
		padding: 5% 5% 10%;
		font-size: 0.65rem;
	}
	.players-details h3 {
		font-size: inherit;
	}
	.players-details p {
		font-size: 0.55rem;
	}

	.signup {
		height: 300px;
	}
	.signup-contents {
		width: 75%;
		padding: 3% 5%;
		margin: 0rem auto;
	}
	.signup p {
		font-size: 0.85rem;
	}
	.signup form {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}
	.signup input {
		display: flex;
		padding: 0.75rem 2rem;
		width: 70%;
		margin: 2rem 0 1rem;
	}
	.signup button {
		margin: 2rem auto 1rem;
		width: 35%;
		padding: 0.75rem 1rem;
		font-weight: 700;
		font-size: 0.9rem;
	}
	#emailError {
		display: flex;
		justify-content: flex-start;
		margin: 0 1.5rem;
		color: red;
	}
	.footer {
		font-size: 0.8rem;
	}
	.footer-contents {
		display: flex;
		flex-direction: row;
		padding: 0 1rem;
		justify-content: center;
		gap: 2rem;
	}
	.footer-elements {
		width: 30%;
		padding: 0;
		font-size: 0.7rem;
	}
	.footer-elements p {
		font-size: 0.8rem;
	}
	.footer-elements-two {
		font-size: 0.7rem;
		width: 15%;
	}
	.footer-list {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		padding-top: 0;
		margin: 0;
	}
	.footer-list a {
		padding-top: 0;
		display: block;
	}
	.social-icons {
		padding-top: 0;
	}
	.social-icons i {
		font-size: 0.7rem;
		width: 30px;
		height: 30px;
	}
}
@media only screen and (min-width: 1440px) {
	.intro button {
		width: 15%;
	}
	.features-container {
		gap: 7rem;
	}
	.productive{
		gap: 6rem;
	}
	.productive-text h3{
		width: 50%;
	}
	.productive-text p, .productive a{
		font-size: 0.9rem;
	}
	.teams-profile {
		gap: 4rem;
		width: 85%;
		margin: 0 auto;
	}
	.teams i {
		margin: 0 5rem;
	}
	.team-player {
		transform: scale(1.05);
	}
	.signup-contents {
		width: 60%;
	}
	.footer {
		font-size: 1rem;
	}
	.footer-elements p,
	.footer-elements a {
		font-size: 1rem;
	}
	.footer-elements-items {
		font-size: 1rem;
	}
}
